<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>学习资源</title>
	<link rel="stylesheet" href="assets/css/weui.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body ontouchstart>
	<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
	<div class="container" id="container">
		<div class="page js_show">
			<div id="noticeMedia" class="page__bd page__bd-ht">
				<div class="notice-tab">
					<div class="notice-tab__panel">
						<!-- 通知公告 -->
						<div class="notice-panel">
							<div class="notice-panel__hd">
								<div class="notice-cell">
									<div class="notice-cell__hd">
										<img class="notice-cell__icon" src="assets/img/edu/edu_icon_notice.png" alt="通知公告">
									</div>
									<div class="notice-cell__bd">
										<p>通知公告</p>
									</div>
									<div  class="notice-cell__ft" v-on:click ="jumpTap(noticeType.type)" :key="">
										<a id="noticelist" href="#" class="notice-cell__more">
											<span class="notice-cell__more-text">显示全部</span>
											<img class="notice-cell__more-icon" src="assets/img/edu/edu_icon_arrow.png" alt="">
										</a>
									</div>
								</div>
							</div>


							<div class="notice-panel__bd">
								<ul>
									<li v-for="(item,index) in noticeData" :key="index" v-if="index < 3">
										<div href="" class="notice-media-box" v-on:click="getDetailTap(item.id)">
											<div class="notice-media-box__bd">

												<h4 id="title" class="notice-media-box__title">{{item.title}}</h4>
												<p class="notice-media-box__date">

													<span class="edu-issue">发布时间：{{item.writeTime}}</span>

													<span class="edu-issue">来源：{{item.origin}}</span>
												</p>

											</div>

										</div>
									</li>
								</ul>
							</div>

						</div>
						<!-- /通知公告 -->

						<!-- 搜索 -->
						<div class="weui-search-bar edu-search-bar" id="searchBar" v-on:click = "onSearchBar">
							<form class="weui-search-bar__form">
								<div class="weui-search-bar__box">
									<i class="weui-icon-search"></i>
									<input type="search" class="weui-search-bar__input" id="searchInput" readonly="true" placeholder="搜索学习资源" />
									<a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
								</div>
								<label for="searchInput" class="weui-search-bar__label edu-recourse-search-bar__label" id="searchText">
									<i class="weui-icon-search"></i>
									<span>搜索学习资源</span>
								</label>
							</form>
							<a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
						</div>

						<!-- /搜索 -->

						<!-- 精品课程 -->
						<div class="notice-panel">
							<div class="notice-panel__hd">
								<div class="notice-cell">
									<div class="notice-cell__hd">
										<img class="notice-cell__icon" src="assets/img/edu/edu_icon_notice.png" alt="通知公告">
									</div>
									<div class="notice-cell__bd">
										<p>精品课程</p>
									</div>
									<div class="notice-cell__ft" v-on:click ="jumpTap(jingpin.type)" :key="">
										<a id="courceList" href="#" class="notice-cell__more">
											<span class="notice-cell__more-text">显示全部</span>
											<img class="notice-cell__more-icon" src="assets/img/edu/edu_icon_arrow.png" alt="">
										</a>
									</div>
								</div>
								<ul>
									<li v-for="(item,index) in classicLessonsData" v-if="index < 3 " :key="item.id">
										<div class="notice-media-box">
											<div class="notice-media-box__hd" v-if="item.lessonType=='video'">
												<img class="notice-media-box__pic" src="assets/img/edu/edu_icon_video.png" />
											</div>
											<div class="notice-media-box__hd" v-if="item.lessonType=='audio'">
												<img class="notice-media-box__pic" src="assets/img/edu/edu_icon_audio.png" />
											</div>
											<div class="notice-media-box__hd" v-if="item.lessonType=='document'">
												<img class="notice-media-box__pic" src="assets/img/edu/edu_icon_article.png" />
											</div>
											<div class="notice-media-box__bd">
												<h4 class="notice-media-box__title">{{item.title}}</h4>
												<p class="notice-media-box__date">
													<span style="color:#0970c6">已有 {{item.visitedTimes}} 人学习了该课程</span>

												</p>
											</div>
											<div class="notice-media-box__ft">
												<img v-on:click="onPlayTap(item.id)" src="assets/img/edu/edu_icon_play.png" class="media-icon" alt="播放" style="visibility: hidden;"
												 v-if="item.lessonType=='document'">
												<img v-on:click="onPlayTap(item.id)" src="assets/img/edu/edu_icon_play.png" class="media-icon" alt="播放" v-if="item.lessonType=='audio'||item.lessonType=='video'">
												<!-- <img v-on:click ="onPlayTap(item.id)" src="assets/img/edu/edu_icon_play.png" class="media-icon" alt="播放" v-if="item.lessonType=='video'"> -->
												<a href="#">
													<img src="assets/img/edu/edu_icon_download.png" class="media-icon" alt="下载" v-on:click="onDownloadTap(item.id)">
												</a>

											</div>
										</div>
									</li>
								</ul>


							</div>
						</div>
						<!-- /精品课程 -->
						<!-- 视频资源 -->
						<div class="notice-panel">
							<div class="notice-panel__hd">
								<div class="notice-cell">
									<div class="notice-cell__hd">
										<img class="notice-cell__icon" src="assets/img/edu/edu_icon_notice.png" alt="通知公告">
									</div>
									<div class="notice-cell__bd">
										<p>视频资源</p>
									</div>
									<div class="notice-cell__ft" v-on:click ="jumpTap(videoType.type)" :key="">
										<a id="audioList" href="#" class="notice-cell__more">
											<span class="notice-cell__more-text">显示全部</span>
											<img class="notice-cell__more-icon" src="assets/img/edu/edu_icon_arrow.png" alt="">
										</a>
									</div>
								</div>
								<ul>
									<li v-for="(item,index) in videoLessonsData" v-if="index < 3" :key="item.id">
										<div class="notice-media-box">
											<div class="notice-media-box__hd">
												<img class="notice-media-box__pic" src="assets/img/edu/edu_icon_video.png" />
											</div>

											<div class="notice-media-box__bd">
												<h4 class="notice-media-box__title">{{item.title}}</h4>
												<p class="notice-media-box__date">
													<span style="color:#0970c6">已有 {{item.visitedTimes}} 人学习了该课程</span>

												</p>
											</div>
											<div class="notice-media-box__ft">

												<img v-on:click="onPlayTap(item.id)" src="assets/img/edu/edu_icon_play.png" class="media-icon" alt="播放">
												<img id="downLoadLink" src="assets/img/edu/edu_icon_download.png" class="media-icon" alt="下载" v-on:click="onDownloadTap(item.id)">


											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- /视频资源 -->
						<!-- 音频资源 -->
						<div class="notice-panel">
							<div class="notice-panel__hd">
								<div class="notice-cell">
									<div class="notice-cell__hd">
										<img class="notice-cell__icon" src="assets/img/edu/edu_icon_notice.png" alt="通知公告">
									</div>
									<div class="notice-cell__bd">
										<p>音频资源</p>
									</div>
									<div class="notice-cell__ft" v-on:click ="jumpTap(audioType.type)" :key="">
										<a id="videoList" href="#" class="notice-cell__more">
											<span class="notice-cell__more-text">显示全部</span>
											<img class="notice-cell__more-icon" src="assets/img/edu/edu_icon_arrow.png" alt="">
										</a>
									</div>
								</div>

								<ul>
									<li v-for="(item,index) in audioLessonsData" v-if="index < 3 " :key="item.id">
										<div class="notice-media-box">
											<div class="notice-media-box__hd">
												<img class="notice-media-box__pic" src="assets/img/edu/edu_icon_audio.png" />
											</div>

											<div class="notice-media-box__bd">
												<h4 class="notice-media-box__title">{{item.title}}</h4>
												<p class="notice-media-box__date">
													<span style="color:#0970c6">已有 {{item.visitedTimes}} 人学习了该课程</span>

												</p>
											</div>
											<div class="notice-media-box__ft">

												<img v-on:click="onPlayTap(item.id)" src="assets/img/edu/edu_icon_play.png" class="media-icon" alt="播放">
												<img src="assets/img/edu/edu_icon_download.png" class="media-icon" alt="下载" v-on:click="onDownloadTap(item.id)">


											</div>
										</div>
									</li>
								</ul>


							</div>
						</div>
						<!-- 音频资源 -->
						<!-- 文档资源 -->
						<div class="notice-panel">
							<div class="notice-panel__hd">
								<div class="notice-cell">
									<div class="notice-cell__hd">
										<img class="notice-cell__icon" src="assets/img/edu/edu_icon_notice.png" alt="通知公告">
									</div>
									<div class="notice-cell__bd">
										<p>文档资源</p>
									</div>
									<div class="notice-cell__ft" v-on:click ="jumpTap(documentType.type)" :key="">
										<a id="doucumentList" href="#" class="notice-cell__more">
											<span class="notice-cell__more-text">显示全部</span>
											<img class="notice-cell__more-icon" src="assets/img/edu/edu_icon_arrow.png" alt="">
										</a>
									</div>
								</div>
								<ul>
									<li v-for="(item,index) in documentLessonsData" v-if="index < 3 " :key="item.id">
										<div class="notice-media-box">
											<div class="notice-media-box__hd">
												<img class="notice-media-box__pic" src="assets/img/edu/edu_icon_article.png" />
											</div>

											<div class="notice-media-box__bd">
												<h4 class="notice-media-box__title">{{item.title}}</h4>
												<p class="notice-media-box__date">
													<span style="color:#0970c6">已有 {{item.visitedTimes}} 人学习了该课程</span>

												</p>
											</div>
											<div class="notice-media-box__ft">


												<img src="assets/img/edu/edu_icon_download.png" class="media-icon" alt="下载" v-on:click="onDownloadTap(item.id)">


											</div>
										</div>
									</li>
								</ul>
								<div id="confirm" class="confirm" style="display:none;">
									<div class="weui-mask weui-animate-fade-in">
									</div>
									<div class="weui-dialog weui-animate-fade-in">
										<div class="weui-dialog__hd">
											<strong class="weui-dialog__title">下载链接（点击确定进行复制）</strong>
										</div>
										<div class="weui-dialog__bd">
											<input id="confirmText" type="text" value="1" readonly="readonly"  style="border-style:none" onfocus="this.blur();">
										</div>
										<div class="weui-dialog__ft">
											<a id="cancel" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
											<a id="sure" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" data-clipboard-action="copy" data-clipboard-target="#confirmText">确定</a>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- 文档资源 -->
					</div>
					<!-- 底部菜单 -->
					<div class="home-tabbar">
						<a href="javascript:window.location.href ='edu_resource.html';" class="home-tabbar__item">
							<img src="assets/img/edu/edu_icon_resource_onclick.png" alt="" class="home-tabbar__icon">
							<p class="home-tabbar__label home-tabbar__label--on">学习资源</p>
						</a>
						<a href="javascript:window.location.href = 'exercise_list.html';" class="home-tabbar__item">
							<img src="assets/img/edu/edu_icon_text_disclick.png" alt="" class="home-tabbar__icon">
							<p class="home-tabbar__label">练习</p>
						</a>
						<a href="javascript:window.location.href = 'exam_list.html';" class="home-tabbar__item">
							<img src="assets/img/edu/edu_icon_exam_disclick.png" alt="" class="home-tabbar__icon">
							<p class="home-tabbar__label">考试</p>
						</a>
						<a href="javascript:window.location.href = 'user.html';" class="home-tabbar__item">
							<img src="assets/img/edu/edu_icon_mine_disclick.png" alt="" class="home-tabbar__icon">
							<p class="home-tabbar__label">我的</p>
						</a>
					</div>
					<!-- /底部菜单 -->
				</div>
			</div>
		</div>
	</div>
	<script src="assets/js/weui.min.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="assets/js/zepto.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="assets/js/clipboard.js" type="text/javascript"></script>
	<script src="assets/js/edu_resource.js" type="text/javascript"></script>
</body>

</html>