<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>搜索</title>
	<link rel="stylesheet" href="assets/css/weui.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body ontouchstart>
	<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
	<div class="container" id="container">
		<div class="page js_show">

			<div id="searchMedia" class="notice-tab">
				<div class="notice-tab__panel">
					<!-- 搜索 -->
					<div class="edu-search__bd">
						<div class="weui-search-bar edu-search-bar" id="searchBar">
							<form class="weui-search-bar__form">
								<div class="weui-search-bar__box edu-search-bar__label">
									<i class="weui-icon-search"></i>
									<input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索学习资源" v-on:input="inputResult">
									<a href="javascript:" class="weui-icon-clear" style="display:none" id="searchClear"></a>
								</div>
							</form>
							<a href="javascript:" class="weui-search-bar__cancel-btn edu-search-bar__cancel-btn" id="searchResult"
							 v-on:click="getData">搜索</a>
						</div>
					</div>
					<!-- /搜索 -->
					<!-- 视频资源 -->
					<div class="edu-search__hd notice-panel">
						<div class="notice-panel__hd" v-for="(item,index) in searchResultData">
							<!-- 搜索列表 -->
							<div href="" class="notice-media-box">
								<div class="notice-media-box__hd" v-if="item.lessonType=='video'">
									<img class="notice-media-box__pic" src="assets/img/edu/edu_icon_video.png" />
								</div>
								<div class="notice-media-box__hd" v-if="item.lessonType=='audio'">
									<img class="notice-media-box__pic" src="assets/img/edu/edu_icon_audio.png" />
								</div>
								<div class="notice-media-box__hd" v-if="item.lessonType=='document'">
									<img class="notice-media-box__pic" src="assets/img/edu/edu_icon_article.png" />
								</div>
								<div class="notice-media-box__hd" v-if="item.lessonType=='others'">
									<img class="notice-media-box__pic" src="assets/img/edu/edu_icon_others.png" />
								</div>
								<div class="notice-media-box__bd">
									<h4 class="notice-media-box__title">{{item.title}}</h4>
									<p class="notice-media-box__date">
										<span style="color:#0970c6">已有 {{item.visitedTimes}} 人学习了该课程</span>
									</p>
								</div>
								<div class="notice-media-box__ft">

								</div>
								<div class="notice-media-box__ft" v-if="item.lessonType=='video'">
									<img src="assets/img/edu/edu_icon_play.png" class="media-icon" alt="播放">
									<img src="assets/img/edu/edu_icon_download.png" class="media-icon" alt="下载">
								</div>
								<div class="notice-media-box__ft" v-if="item.lessonType=='audio'">
									<img src="assets/img/edu/edu_icon_play.png" class="media-icon" alt="播放">
									<img src="assets/img/edu/edu_icon_download.png" class="media-icon" alt="下载">
								</div>
								<div class="notice-media-box__ft" v-if="item.lessonType=='document'">
									<img src="assets/img/edu/edu_icon_download.png" class="media-icon" alt="下载">
								</div>
								<div class="notice-media-box__ft" v-if="item.lessonType=='others'">
									<img src="assets/img/edu/edu_icon_play.png" class="media-icon" alt="播放">
									<img src="assets/img/edu/edu_icon_download.png" class="media-icon" alt="下载">
								</div>
								<!-- 暂无数据 -->

							</div>

						</div>
					</div>
					<!-- /视频资源 -->
					<div id="searchBg" v-if="seen">
						<div  class="weui-loadmore weui-loadmore_line" >
							<span class="weui-loadmore__tips">暂无数据</span>
						</div>
						<div class="weui-loadmore weui-loadmore_line weui-loadmore_dot">
							<span class="weui-loadmore__tips">请输入关键字搜索</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<script src="assets/js/zepto.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="assets/js/edu_search.js"></script>
</body>

</html>