<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>练习答题</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="assets/css/weui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body ontouchstart>
    <div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
    <div class="container exercise-container" id="container">
        <div class="page js_show">
            <div class="page__bd ">
                <div id="questionId" class="notice-tab">
                    <div class="notice-tab__panel">
                        <!-- 题目标题 -->
                        <div href="#" class="notice-media-box">
                            <div class="notice-media-box__hd">
                                <img class="exercise-answer-media-box__pic" src="assets/img/text/text_icon_verb.png"
                                    alt="">
                            </div>
                            <div class="notice-media-box__bd exercise-media-box__bd">
                                <h4 class="exercise-media-box__title">
                                    {{questionTitle.title}}
                                </h4>
                            </div>
                            <div class="exercise-media-box__ft">
                                第
                                <span class="exercise-subject__num">{{questionNum}}</span>
                                题
                            </div>
                        </div>
                        <!-- /题目标题 -->
                        <!-- 题型题目 -->
                        <div class="exercise-answer-subject-box" v-if="questionData.questionType =='one'">
                            <!-- 题型 -->
                            <span class="subject-box__type">【 单选题 】</span>
                            <!-- /题型 -->
                            <!-- 题目 -->
                            <span class="subject-box__subject">1、{{questionTitle.content}}</span>
                            <!-- /题目 -->
                        </div>
                        <!-- /题型题目 -->
                        <!-- 题型题目 -->
                        <div class="exercise-answer-subject-box" v-if="questionData.questionType =='multi'">
                            <!-- 题型 -->
                            <span class="subject-box__type">【 多选题 】</span>
                            <!-- /题型 -->
                            <!-- 题目 -->
                            <span class="subject-box__subject">1、{{questionTitle.content}}</span>
                            <!-- /题目 -->
                        </div>
                        <!-- /题型题目 -->
                        <!-- 题型题目 -->
                        <div class="exercise-answer-subject-box" v-if="questionData.questionType =='true_false'">
                            <!-- 题型 -->
                            <span class="subject-box__type">【 判断题 】</span>
                            <!-- /题型 -->
                            <!-- 题目 -->
                            <span class="subject-box__subject">1、{{questionTitle.content}}</span>
                            <!-- /题目 -->
                        </div>
                        <!-- /题型题目 -->
                        <!-- 选项 -->
                        <!-- 单选题 -->
                        <div class="exercise-answer-subject-choice" style="background-color: #fff" v-if="questionData.questionType == 'one'">
                            <!-- 单选题 -->
                            <!-- 选择答案 -->

                            <!-- A -->
                            <div class="notice-media-box">
                                <label class="exercise-identity__label" for="A">
                                    <div class="exercise-check-cell__hd">
                                        <input type="radio" class="exercise-check" name="radioBox" id="A"/>
                                        <i class="exercise-icon-checked"></i>
                                    </div>
                                    <div class="exercise-check-cell__bd">
                                        <span class="exercise-check__option" name = "radioBoxValue">A. {{questionAnswer_A.answer}}</span>
                                    </div>
                                </label>
                            </div>
                            <!-- /A -->
                            <!-- B -->
                            <div class="notice-media-box">
                                <label class="exercise-identity__label" for="B">
                                    <div class="exercise-check-cell__hd">
                                        <input type="radio" class="exercise-check" name="radioBox" id="B" />
                                        <i class="exercise-icon-checked"></i>
                                    </div>
                                    <div class="exercise-check-cell__bd">
                                        <span class="exercise-check__option" name = "radioBoxValue">B. {{questionAnswer_B.answer}}</span>
                                    </div>
                                </label>
                            </div>
                            <!-- /B -->
                            <!-- C -->
                            <div class="notice-media-box">
                                <label class="exercise-identity__label" for="C">
                                    <div class="exercise-check-cell__hd">
                                        <input type="radio" class="exercise-check" name="radioBox" id="C" />
                                        <i class="exercise-icon-checked"></i>
                                    </div>
                                    <div class="exercise-check-cell__bd">
                                        <span class="exercise-check__option" name = "radioBoxValue">C. {{questionAnswer_C.answer}}</span>
                                    </div>
                                </label>
                            </div>
                            <!-- /C -->
                            <!-- D -->
                            <div class="notice-media-box">
                                <label class="exercise-identity__label" for="D">
                                    <div class="exercise-check-cell__hd">
                                        <input type="radio" class="exercise-check" name="radioBox" id="D" />
                                        <i class="exercise-icon-checked"></i>
                                    </div>
                                    <div class="exercise-check-cell__bd">
                                        <span class="exercise-check__option" name = "radioBoxValue">D. {{questionAnswer_D.answer}}</span>
                                    </div>
                                </label>
                            </div>
                            <!-- /D -->

                            <!-- /选择答案 -->

                        </div>
                        <!-- /单选题 -->
                        <!-- 多选题 -->
                        <div class="exercise-answer-subject-choice" style="background-color: #fff" v-if="questionData.questionType == 'multi'">
                            <!-- A -->
                            <div class="notice-media-box">
                                <label class="exercise-identity__label">
                                    <div class="exercise-check-cell__hd">
                                        <input type="checkbox" class="exercise-check" name="checkbox" data-id="A" />
                                        <i class="exercise-icon-checked"></i>
                                    </div>
                                    <div class="exercise-check-cell__bd">
                                        <span class="exercise-check__option" name="checkBoxValue">A. {{questionAnswer_A.answer}}</span>
                                    </div>
                                </label>
                            </div>
                            <!-- /A -->
                             <!-- B -->
                             <div class="notice-media-box">
                                <label class="exercise-identity__label" >
                                    <div class="exercise-check-cell__hd">
                                        <input type="checkbox" class="exercise-check" name="checkbox" data-id="B" />
                                        <i class="exercise-icon-checked"></i>
                                    </div>
                                    <div class="exercise-check-cell__bd">
                                        <span class="exercise-check__option" name="checkBoxValue">B. {{questionAnswer_B.answer}}</span>
                                    </div>
                                </label>
                            </div>
                            <!-- /B -->
                            <!-- C -->
                            <div class="notice-media-box">
                                <label class="exercise-identity__label" >
                                    <div class="exercise-check-cell__hd">
                                        <input type="checkbox" class="exercise-check" name="checkbox" data-id="C" />
                                        <i class="exercise-icon-checked"></i>
                                    </div>
                                    <div class="exercise-check-cell__bd">
                                        <span class="exercise-check__option" name="checkBoxValue">C. {{questionAnswer_C.answer}}</span>
                                    </div>
                                </label>
                            </div>
                            <!-- /C -->
                            <!-- D -->
                            <div class="notice-media-box">
                                <label class="exercise-identity__label" >
                                    <div class="exercise-check-cell__hd">
                                        <input type="checkbox" class="exercise-check" name="checkbox" data-id="D" />
                                        <i class="exercise-icon-checked"></i>
                                    </div>
                                    <div class="exercise-check-cell__bd">
                                        <span class="exercise-check__option" name="checkBoxValue">D. {{questionAnswer_D.answer}}</span>
                                    </div>
                                </label>
                            </div>
                            <!-- /D -->
                        </div>
                        <!-- /多选题 -->
                        <!-- 判断题 -->
                        <div class="exercise-answer-subject-choice" style="background-color: #fff" v-if="questionData.questionType == 'true_false'">
                            <div class="notice-media-box">
                                <label class="exercise-identity__label" for="r">
                                    <div class="exercise-check-cell__hd">
                                        <input type="radio" class="exercise-check" name="true-radioBox" id="r" />
                                        <i class="exercise-icon-checked"></i>
                                    </div>
                                    <div class="exercise-check-cell__bd">
                                        <span class="exercise-check__option" name="radioBoxValue">对</span>
                                    </div>
                                </label>
                            </div>
                            <div class="notice-media-box">
                                <label class="exercise-identity__label" for="f">
                                    <div class="exercise-check-cell__hd">
                                        <input type="radio" class="exercise-check" name="true-radioBox" id="f" />
                                        <i class="exercise-icon-checked"></i>
                                    </div>
                                    <div class="exercise-check-cell__bd">
                                        <span class="exercise-check__option" name="radioBoxValue">错</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- /判断题 -->
                        <!-- /选项 -->
                        <!-- 下一题按钮 -->
                        <div class="login-operation answer-btn" v-on:click="nextQuestion">
                            <a href="#" id="loginBtn" class="login-btn">下一题</a>
                        </div>
                        <!-- /下一题按钮 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/weui.min.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="assets/js/zepto.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="assets/js/exercise_answer.js" async defer></script>
</body>

</html>